#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav-bar ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
