#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%;
}

.nav-bar ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li{
  display: inline;
  float: left;
}

.skills {
  width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(138, 138, 138);
}

.skills h2 {
  margin: 0;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px;
}

.skill-block {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  min-width: 100px;
}

.experience {
  width: 70%;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(138, 138, 138);
}

.projects {
  width: 70%;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(138, 138, 138);
}

.project-block {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.project-info {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
}

.project-info img {
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border: 3px white solid;
  border-radius: 30px 5px 30px 5px;
}
